.mouse-glow{

position:fixed;

width:450px;

height:450px;

border-radius:50%;

background:

radial-gradient(circle,

rgba(168,85,247,.18),

transparent 70%);

pointer-events:none;

transform:translate(-50%,-50%);

z-index:-1;

filter:blur(25px);

transition:

left .08s linear,

top .08s linear;

}