

.orbit-icon{

    position:absolute;

    left:50%;

    top:50%;

    width:68px;

    height:68px;

    margin-left:-34px;

    margin-top:-34px;

    border-radius:50%;

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    font-size:28px;

    cursor:pointer;

    transition:.3s;

}

.orbit-icon span{

    position:absolute;

    bottom:-28px;

    white-space:nowrap;

    font-size:11px;

    color:white;

    opacity:.8;

}

.orbit-icon:hover{

    box-shadow:0 0 30px currentColor;

}

.orbit-center{

    position:absolute;

    width:170px;

    height:170px;

    border-radius:50%;

    background:linear-gradient(
    135deg,
    #9333ea,
    #d946ef
    );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:white;

    box-shadow:0 0 50px rgba(217,70,239,.45);

}

.orbit-center h2{

    font-size:40px;

    font-weight:800;

}

.orbit-center p{

    letter-spacing:2px;

    font-size:15px;

    opacity:.9;

}


.orbit-center{

animation:corePulse 4s infinite;

}

@keyframes corePulse{

0%{

transform:scale(1);

box-shadow:0 0 40px #9333ea55;

}

50%{

transform:scale(1.08);

box-shadow:0 0 80px #d946ef;

}

100%{

transform:scale(1);

box-shadow:0 0 40px #9333ea55;

}

}

.particles{

position:absolute;

inset:0;

overflow:hidden;

}

.particles span{

position:absolute;

width:4px;

height:4px;

background:#d946ef;

border-radius:50%;

opacity:.5;

animation:floatParticle 8s infinite ease-in-out;

}

@keyframes floatParticle{

0%{

transform:translateY(0);

opacity:.2;

}

50%{

transform:translateY(-35px);

opacity:1;

}

100%{

transform:translateY(0);

opacity:.2;

}

}
.orbit-wrapper{
    position:relative;
    width:520px;
    height:520px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.outer-ring{
    position:absolute;
    width:470px;
    height:470px;
    border-radius:50%;
    border:1px solid rgba(217,70,239,.15);
}

.inner-ring{
    position:absolute;
    width:340px;
    height:340px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.08);
}

.orbit-ring{
    position:absolute;
    width:100%;
    height:100%;
}

.orbit-icon{

width:74px;

height:74px;

font-size:30px;

transition:.4s;

}

.orbit-icon:hover{

transform:scale(1.25);

box-shadow:

0 0 35px currentColor,

0 0 60px currentColor;

}

.orbit-glow{

background:

radial-gradient(circle,

rgba(217,70,239,.35),

rgba(147,51,234,.15),

transparent);

}