.achievements{

max-width:1300px;

margin:auto;

padding:130px 40px;

position:relative;

z-index:5;

}

.achievement-heading{

text-align:center;

margin-bottom:70px;

}

.achievement-heading span{

letter-spacing:4px;

color:#d946ef;

font-weight:700;

}

.achievement-heading h2{

font-size:60px;

margin:20px 0;

color:white;

}

.achievement-heading h2 span{

background:linear-gradient(90deg,#d946ef,#9333ea);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.achievement-heading p{

max-width:700px;

margin:auto;

line-height:1.8;

color:#bdbdbd;

font-size:18px;

}

.achievement-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.achievement-card{

padding:35px;

border-radius:28px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.achievement-card:hover{

border-color:#d946ef;

box-shadow:0 0 35px rgba(217,70,239,.25);

}

.achievement-icon{

font-size:55px;

margin-bottom:25px;

}

.achievement-card h2{

font-size:48px;

color:#d946ef;

margin-bottom:10px;

}

.achievement-card h3{

color:white;

margin-bottom:15px;

font-size:24px;

}

.achievement-card p{

color:#bdbdbd;

line-height:1.8;

}

.stats-strip{

margin-top:90px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.stats-strip div{

padding:30px;

border-radius:22px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

text-align:center;

}

.stats-strip h2{

font-size:42px;

color:#d946ef;

margin-bottom:10px;

}

.stats-strip p{

color:#bdbdbd;

}

@media(max-width:900px){

.stats-strip{

grid-template-columns:repeat(2,1fr);

}

.achievement-heading h2{

font-size:45px;

}

}